 #submit-photo {

     background: #0066A2;

     color: white;

     border-style: outset;

     border-color: black;

     height: 50px;

     width: 220px;

     font: bold 15px arial, sans-serif;

     text-shadow: none;

 }

