/* display when user is logged in */
.user-logged-in #user-info,
.user-logged-in #write-post {
	display: block;
}

/* hidden when user is logged in */
.user-logged-in #auth {
	display: none;
}

/* display when no user */
.no-user #auth,
.no-user #add-photo {
	display: block;
}

/* hidden when no user */
.no-user #user-info,
.no-user #profile-photo,
.no-user #write-post {
	display: none;
}

body {
  font-weight: 300;
  /*background: #1258;*/
  /*overflow: hidden;*/
  margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    margin: 80px 0;
    font-weight: normal;
    text-align: center;
}

/* display when user is logged in */
.user-logged-in #user-info,
.user-logged-in #write-post {
	display: block;
}

/* hidden when user is logged in */
.user-logged-in #auth {
	display: none;
}

/* display when no user */
.no-user #auth,
.no-user #add-photo {
	display: block;
}

/* hidden when no user */
.no-user #user-info,
.no-user #profile-photo,
.no-user #write-post {
	display: none;
}

