


/*desktop */

@media only screen and (max-width: 1600px) {
	body {
		background: green;
	}
	.eventsContainer {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

/*tablet*/

@media only screen and (max-width: 960px) {
	body {
		background: yellow;
	}
	.eventsContainer {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

/*mobile*/

@media only screen and (max-width: 480px) {
	body {
		background: orange;
	}
	.eventsContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	
}